{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Test Page For Members Only!</h1>
            </div>

          
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #085A8B; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; 	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);  border-radius: 5px;     border: 3px solid #2E2E2E;}
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
 
</style>
{% endblock %}
